body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
input{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"]:invalid{
    animation: shake .2s infinite;
    outline: 2px solid orangered;
}

input[type="text"]:valid{
    outline: 2px solid green;
}

@keyframes shake {
    25%{
        transform: translateX(3px);
    }
    50%{
        transform: translateX(-3px);
    }
    75%{
        transform: translateX(4px);
    }
}